{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

<form method="POST">

    <br>

    <h3 align="center">Login</h3>
    
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email...">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="***********">

        <br>

        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

{% endblock %}